openapi: 3.0.1
info:
  title: Flight API
  description: |-
    API para la gestionar datos de vuelos.
    
    Algún link útil:
    - [The flight api repository](https:https://github.com/RichardMartAgu/vuelosapi)
  contact:
    email: a27002@svalero.com
  version: 1.0.0

servers:
  - url: 'https://api.vuelosapi.com'

#Control de vuelos

#Listar vuelos
paths:
  /flight:
    get:
      tags:
        - Vuelos
      summary: Devuelve listado de todos los vuelos.
      description: Esta operación permite la consulta de todos los vuelos existentes.
      responses:
        '200':
          description: Devuelve la lista completa de vuelos.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    flight:
                      allOf:
                        - $ref: '#/components/schemas/flight'
                        - properties:
                            airport:
                              $ref: '#/components/schemas/airport'
              examples:
                example1:
                  summary: Ejemplo de vuelo 1
                  value:
                    - flight:
                        id: 23
                        name: "Zaragoza/Menorca"
                        departureDate: "2020-01-01"
                        gate: 5
                        duration: 5.5
                        departure: false
                        airport:
                          id: 23
                          name: "Aeropuerto de Zaragoza."
                          city: "Zaragoza"
                          foundationYear: "1965-10-05"
                          latitude: 41.6669
                          longitude: -1.0413
                          active: true
                example2:
                  summary: Ejemplo de vuelo 2
                  value:
                    - flight:
                        id: 24
                        name: "Barcelona/Paris"
                        departureDate: "2020-02-01"
                        gate: 7
                        duration: 4.5
                        departure: true
                        airport:
                          id: 24
                          name: "Aeropuerto de Barcelona."
                          city: "Barcelona"
                          foundationYear: "1970-05-15"
                          latitude: 41.2974
                          longitude: 2.0833
                          active: true
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    #  Crear vuelos
    post:
      tags:
        - Vuelos
      summary: Crea un nuevo vuelo.
      description: Añadiendo los campos adecuados podemos crear un vuelo nuevo.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - departureDate
                - gate
                - departure
                - airportId
              properties:
                name:
                  type: string
                  example: Zaragoza/Menorca
                  description: El nombre del vuelo salida/destino.
                departureDate:
                  type: string
                  example: 2020-01-01
                  description: Fecha se salida del vuelo.
                gate:
                  type: number
                  format: int32
                  example: 5
                  description: Numero de la puerta de embarque.
                duration:
                  type: number
                  format: float
                  example: 5.5
                  description: Tiempo de vuelo en horas.
                departure:
                  type: boolean
                  example: false
                  description: Nos dice si despega o aterriza el vuelo.
                airportId:
                  type: number
                  format: int32
                  example: 2
                  description: Id del aeropuerto asociado.

            examples:
              FullData:
                summary: Ejemplo con todos los campos.
                value:
                  name: Zaragoza/Menorca
                  departureDate: "2020-01-01"
                  gate: 5
                  duration: 5.5
                  departure: false
              MinimumData:
                summary: Ejemplo con campos mínimos.
                value:
                  name: Barcelona/Paris
                  departureDate: "2021-02-15"
                  gate: 3


      responses:
        '201':
          description: El vuelo se ha registrado correctamente.


        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #Buscar vuelos por nombre, día de vuelo y/o puerta de embarque

  /flight/findByName,departureDate and/or gate:
    get:
      tags:
        - Vuelos
      summary: Devuelve listado de vuelos por filtrado.
      description: Esta operación permite la consulta de todos los vuelos mediante un filtrado de 3 campos.
      parameters:
        - name: name
          in: query
          description: Nombre del vuelo (Ciudad origen y Ciudad destino).
          required: false
          schema:
            type: string
        - name: departureDate
          in: query
          description: Día del vuelo formato -> ( "2030-01-18" ).
          required: false
          schema:
            type: string
            format: date
        - name: gate
          in: query
          description: Numero de la puerta de embarque.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Devuelve el filtrado o la lista completa en su defecto.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    flight:
                      allOf:
                        - $ref: '#/components/schemas/flight'
                        - properties:
                            airport:
                              $ref: '#/components/schemas/airport'
              examples:
                example1:
                  summary: Ejemplo de vuelo 1
                  value:
                    - flight:
                        id: 23
                        name: "Zaragoza/Menorca"
                        departureDate: "2020-01-01"
                        gate: 5
                        duration: 5.5
                        departure: false
                        airport:
                          id: 23
                          name: "Aeropuerto de Zaragoza."
                          city: "Zaragoza"
                          foundationYear: "1965-10-05"
                          latitude: 41.6669
                          longitude: -1.0413
                          active: true
                example2:
                  summary: Ejemplo de vuelo 2
                  value:
                    - flight:
                        id: 24
                        name: "Barcelona/Paris"
                        departureDate: "2020-02-01"
                        gate: 7
                        duration: 4.5
                        departure: true
                        airport:
                          id: 24
                          name: "Aeropuerto de Barcelona."
                          city: "Barcelona"
                          foundationYear: "1970-05-15"
                          latitude: 41.2974
                          longitude: 2.0833
                          active: true
        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Vuelo no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'


  # Busca vuelos asociados a un aeropuerto

  /airport/{airportId}/flights:
    get:
      tags:
        - Vuelos
      summary: Busca vuelos asociados a un aeropuerto.
      description: A partir del Id de una aeropuerto se puede encontrar lso vuelos asociados.
      parameters:
        - name: airportId
          in: path
          description: Id del aeropuerto necesario para buscar.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Devuelve una lista de vuelos correctamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    flight:
                      allOf:
                        - $ref: '#/components/schemas/flight'
                        - properties:
                            airport:
                              $ref: '#/components/schemas/airport'
              examples:
                example1:
                  summary: Ejemplo de vuelo 1
                  value:
                    - flight:
                        id: 23
                        name: "Zaragoza/Menorca"
                        departureDate: "2020-01-01"
                        gate: 5
                        duration: 5.5
                        departure: false
                        airport:
                          id: 23
                          name: "Aeropuerto de Zaragoza."
                          city: "Zaragoza"
                          foundationYear: "1965-10-05"
                          latitude: 41.6669
                          longitude: -1.0413
                          active: true
                example2:
                  summary: Ejemplo de vuelo 2
                  value:
                    - flight:
                        id: 24
                        name: "Barcelona/Paris"
                        departureDate: "2020-02-01"
                        gate: 7
                        duration: 4.5
                        departure: true
                        airport:
                          id: 24
                          name: "Aeropuerto de Barcelona."
                          city: "Barcelona"
                          foundationYear: "1970-05-15"
                          latitude: 41.2974
                          longitude: 2.0833
                          active: true
        '400':
          description: Error al validar Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Aeropuerto no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  # Buscar vuelos por Id

  /flight/{flightId}:
    get:
      tags:
        - Vuelos
      summary: Busca vuelo por Id
      description: A partir de una Id se puede encontrar los datos de un vuelo.
      parameters:
        - name: flightId
          in: path
          description: Id del vuelo necesario para buscar.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Devuelve un vuelo correctamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    flight:
                      allOf:
                        - $ref: '#/components/schemas/flight'
                        - properties:
                            airport:
                              $ref: '#/components/schemas/airport'
              examples:
                example1:
                  summary: Ejemplo de vuelo 1
                  value:
                    - flight:
                        id: 23
                        name: "Zaragoza/Menorca"
                        departureDate: "2020-01-01"
                        gate: 5
                        duration: 5.5
                        departure: false
                        airport:
                          id: 23
                          name: "Aeropuerto de Zaragoza."
                          city: "Zaragoza"
                          foundationYear: "1965-10-05"
                          latitude: 41.6669
                          longitude: -1.0413
                          active: true
                example2:
                  summary: Ejemplo de vuelo 2
                  value:
                    - flight:
                        id: 24
                        name: "Barcelona/Paris"
                        departureDate: "2020-02-01"
                        gate: 7
                        duration: 4.5
                        departure: true
                        airport:
                          id: 24
                          name: "Aeropuerto de Barcelona."
                          city: "Barcelona"
                          foundationYear: "1970-05-15"
                          latitude: 41.2974
                          longitude: 2.0833
                          active: true

        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Vuelo no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    # Editar vuelos
    put:
      tags:
        - Vuelos
      summary: Edita un vuelo.
      description: A partir del Id de un vuelo se edita el mismo vuelo añadiendo los campos adecuados.
      parameters:
        - name: flightId
          in: path
          description: Id del vuelo necesario para editar.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - departureDate
                - gate
                - departure
                - airportId
              properties:
                name:
                  type: string
                  example: Zaragoza/Menorca
                  description: El nombre del vuelo salida/destino.
                departureDate:
                  type: string
                  example: 2020-01-01
                  description: Fecha se salida del vuelo.
                gate:
                  type: number
                  format: int32
                  example: 5
                  description: Numero de la puerta de embarque.
                duration:
                  type: number
                  format: float
                  example: 5.5
                  description: Tiempo de vuelo en horas.
                departure:
                  type: boolean
                  example: false
                  description: Nos dice si despega o aterriza el vuelo.
                airportId:
                  type: number
                  format: int32
                  example: 2
                  description: Id del aeropuerto asociado.
            examples:
              FullData:
                summary: Ejemplo con todos los campos.
                value:
                  name: Zaragoza/Menorca
                  departureDate: "2020-01-01"
                  gate: 5
                  duration: 5.5
                  departure: false
              MinimumData:
                summary: Ejemplo con campos mínimos.
                value:
                  name: Barcelona/Paris
                  departureDate: "2021-02-15"
                  gate: 3
      responses:
        '201':
          description: El vuelo se ha editado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Vuelo no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    # Parchear vuelos
    patch:
      tags:
        - Vuelos
      summary: Edita un campo concreto del vuelo.
      description: A partir del Id de un vuelo se edita un campo concreto del mismo vuelo.
      parameters:
        - name: flightId
          in: path
          description: Id del vuelo necesario para editar.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - field
                - gate
              properties:
                field:
                  type: string
                  example: "gate"
                  description: Nombre del campo que se cambia por defecto "gate".
                gate:
                  type: number
                  format: int32
                  example: 5
                  description: Numero de la puerta de embarque.
            examples:
              Patch1:
                summary: Ejemplo 1.
                value:
                  field: "gate"
                  gate: 5
              Patch2:
                summary: Ejemplo 2.
                value:
                  field: "gate"
                  gate: 10
      responses:
        '201':
          description: El campo del vuelo se ha editado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Vuelo no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    #Eliminar vuelos

    delete:
      tags:
        - Vuelos
      summary: Elimina un vuelo.
      description: A partir del Id de un vuelo se borra el mismo vuelo.
      parameters:
        - name: flightId
          in: path
          description: Id del vuelo necesario para borrar.
          required: true
          schema:
            type: integer

      responses:
        '204':
          description: El vuelo se ha borrado correctamente.

        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'


        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #------------------------------------------------------------------------
  #Control de Aeropuertos
  #Listar aeropuertos

  /airport:
    get:
      tags:
        - Aeropuertos
      summary: Devuelve listado de todos los aeropuertos.
      description: Esta operación permite la consulta de todos los aeropuertos existentes.
      responses:
        '200':
          description: Devuelve la lista completa de aeropuertos.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/airport'

              examples:
                example1:
                  summary: Ejemplo de aeropuerto 1
                  value:
                    - airport:
                        id: 23
                        name: "Aeropuerto de Zaragoza."
                        city: "Zaragoza"
                        foundationYear: "1965-10-05"
                        latitude: 41.6669
                        longitude: -1.0413
                        active: true

                example2:
                  summary: Ejemplo de aeropuerto 2
                  value:
                    - airport:
                        id: 42
                        name: "Aeropuerto Internacional de Barcelona"
                        city: "Barcelona"
                        foundationYear: "1992-09-21"
                        latitude: 41.2974
                        longitude: 2.0833
                        active: true


        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    #  Crear aeropuertos
    post:
      tags:
        - Aeropuertos
      summary: Crea un nuevo aeropuerto.
      description: Añadiendo los campos adecuados podemos crear un aeropuerto nuevo.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - city
                - foundationYear
                - latitude
                - longitude
              properties:
                name:
                  type: string
                  example: Aeropuerto de Zaragoza.
                  description: El nombre del aeropuerto.
                city:
                  type: string
                  example: Zaragoza
                  description: El nombre de la Ciudad del aeropuerto.
                foundationYear:
                  type: string
                  example: 1965-10-05
                  description: Fecha de inauguración del aeropuerto.
                latitude:
                  type: number
                  format: float
                  example: 41.6669
                  description: Latitud de la ubicación del aeropuerto.
                longitude:
                  type: number
                  format: float
                  example: -1.0413
                  description: Longitud de la ubicación del aeropuerto.
                active:
                  type: boolean
                  example: true
                  description: Nos indica si el aeropuerto está en activo o no.
            examples:
              FullData:
                summary: Ejemplo con todos los campos.
                value:
                  name: "Aeropuerto Internacional de Barcelona"
                  city: "Barcelona"
                  foundationYear: "1992-09-21"
                  latitude: 41.2974
                  longitude: 2.0833
                  active: true
              MinimumData:
                summary: Ejemplo con campos mínimos.
                value:
                  name: "Aeropuerto de Madrid-Barajas"
                  city: "Madrid"
                  foundationYear: "1931-04-22"
      responses:
        '201':
          description: El aeropuerto se ha registrado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #Buscar aeropuertos por nombre, día de vuelo y/o puerta de embarque

  /airports/findByName,city and/or foundationYear:
    get:
      tags:
        - Aeropuertos
      summary: Devuelve listado de aeropuertos por filtrado.
      description: Esta operación permite la consulta de todos los aeropuertos mediante un filtrado de 3 campos.
      parameters:
        - name: name
          in: query
          description: Nombre del aeropuerto.
          required: false
          schema:
            type: string
        - name: city
          in: query
          description: nombre de la ciudad del aeropuerto.
          required: false
          schema:
            type: string
        - name: foundationYear
          in: query
          description: Día de la inauguración del aeropuerto formato -> ( "2030-01-18" ).
          required: false
          schema:
            type: string
            format: date

      responses:
        '200':
          description: Devuelve el filtrado o la lista completa en su defecto.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/airport'
              examples:
                example1:
                  summary: Ejemplo de aeropuerto 1
                  value:
                    - airport:
                        id: 23
                        name: "Aeropuerto de Zaragoza."
                        city: "Zaragoza"
                        foundationYear: "1965-10-05"
                        latitude: 41.6669
                        longitude: -1.0413
                        active: true

                example2:
                  summary: Ejemplo de aeropuerto 2
                  value:
                    - airport:
                        id: 42
                        name: "Aeropuerto Internacional de Barcelona"
                        city: "Barcelona"
                        foundationYear: "1992-09-21"
                        latitude: 41.2974
                        longitude: 2.0833
                        active: true
        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  # Buscar aeropuertos por Id

  /airport/{airportId}:
    get:
      tags:
        - Aeropuertos
      summary: Busca aeropuertos por Id.
      description: A partir de una Id se puede encontrar los datos de un aeropuerto.
      parameters:
        - name: airportId
          in: path
          description: Id del vuelo necesario para buscar.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Devuelve un aeropuerto correctamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/airport'
              examples:
                example1:
                  summary: Ejemplo de aeropuerto 1
                  value:
                    - airport:
                        id: 23
                        name: "Aeropuerto de Zaragoza."
                        city: "Zaragoza"
                        foundationYear: "1965-10-05"
                        latitude: 41.6669
                        longitude: -1.0413
                        active: true

                example2:
                  summary: Ejemplo de aeropuerto 2
                  value:
                    - airport:
                        id: 42
                        name: "Aeropuerto Internacional de Barcelona"
                        city: "Barcelona"
                        foundationYear: "1992-09-21"
                        latitude: 41.2974
                        longitude: 2.0833
                        active: true
        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Aeropuerto no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    # Editar aeropuertos
    put:
      tags:
        - Aeropuertos
      summary: Edita un aeropuerto.
      description: A partir del Id de un aeropuerto se edita el mismo aeropuerto añadiendo los campos adecuados.
      parameters:
        - name: airportId
          in: path
          description: Id del aeropuerto necesario para editar.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - city
                - foundationYear
                - latitude
                - longitude
              properties:
                name:
                  type: string
                  example: Aeropuerto de Zaragoza.
                  description: El nombre del aeropuerto.
                city:
                  type: string
                  example: Zaragoza
                  description: El nombre de la Ciudad del aeropuerto.
                foundationYear:
                  type: string
                  example: 1965-10-05
                  description: Fecha de inauguración del aeropuerto.
                latitude:
                  type: number
                  format: float
                  example: 41.6669
                  description: Latitud de la ubicación del aeropuerto.
                longitude:
                  type: number
                  format: float
                  example: -1.0413
                  description: Longitud de la ubicación del aeropuerto.
                active:
                  type: boolean
                  example: true
                  description: Nos indica si el aeropuerto está en activo o no.
            examples:
              FullData:
                summary: Ejemplo con todos los campos.
                value:
                  name: "Aeropuerto Internacional de Barcelona"
                  city: "Barcelona"
                  foundationYear: "1992-09-21"
                  latitude: 41.2974
                  longitude: 2.0833
                  active: true
              MinimumData:
                summary: Ejemplo con campos mínimos.
                value:
                  name: "Aeropuerto de Madrid-Barajas"
                  city: "Madrid"
                  foundationYear: "1931-04-22"
      responses:
        '201':
          description: El aeropuerto se ha editado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Aeropuerto no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    # Parchear aeropuertos
    patch:
      tags:
        - Aeropuertos
      summary: Edita un campo concreto del aeropuerto.
      description: A partir del Id de un aeropuerto se edita un campo concreto del mismo aeropuerto.
      parameters:
        - name: airportId
          in: path
          description: Id del aeropuerto necesario para editar.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - field
                - name
              properties:
                field:
                  type: string
                  example: "gate"
                  description: Nombre del campo que se cambia por defecto "name".
                name:
                  type: string
                  example: 5
                  description: Nombre del puerta aeropuerto.
            examples:
              Patch1:
                summary: Ejemplo 1.
                value:
                  field: "name"
                  name: "Aeropuerto Internacional de Barajas"
              Patch2:
                summary: Ejemplo 2.
                value:
                  field: "name"
                  name: "Aeropuerto de Los Ángeles"
      responses:
        '201':
          description: El campo del aeropuerto se ha editado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Aeropuerto no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    #Eliminar aeropuertos

    delete:
      tags:
        - Aeropuertos
      summary: Elimina un aeropuerto.
      description: A partir del Id de un aeropuerto se borra el mismo aeropuerto.
      parameters:
        - name: airportId
          in: path
          description: Id del aeropuerto necesario para borrar.
          required: true
          schema:
            type: integer

      responses:
        '204':
          description: El aeropuerto se ha borrado correctamente.

        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #---------------------------------------------------------------------
  #Control de Aviones
  #Listar Aviones

  /airplanes:
    get:
      tags:
        - Aviones
      summary: Devuelve listado de todos los aviones.
      description: Esta operación permite la consulta de todos los aviones existentes.
      responses:
        '200':
          description: Devuelve la lista completa de aviones.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    airplane:
                      allOf:
                        - $ref: '#/components/schemas/airplane'
                        - properties:
                            airline:
                              $ref: '#/components/schemas/airline'
              examples:
                example1:
                  summary: Ejemplo de avión 1
                  value:
                    - airplanes:
                        id: 1
                        model: "Boeing 737"
                        manufacturingDate: "2005-03-10"
                        passengerCapacity: 180
                        maxSpeed: 560.0
                        active: true
                        airline:
                          id: 1
                          name: "Iberia"
                          telephone: 636756345
                          foundationYear: "1999-10-25"
                          fleet: 100
                          onTime: 92.3
                          active: true
                example2:
                  summary: Ejemplo de avión 2
                  value:
                    - airplanes:
                        id: 2
                        model: "Airbus A320"
                        manufacturingDate: "2010-08-22"
                        passengerCapacity: 150
                        maxSpeed: 540.0
                        active: true
                        airline:
                          id: 2
                          name: "Air France"
                          telephone: 987654321
                          foundationYear: "1980-07-15"
                          fleet: 80
                          onTime: 88.5
                          active: true
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    #  Crear aviones
    post:
      tags:
        - Aviones
      summary: Crea un nuevo avión.
      description: Añadiendo los campos adecuados podemos crear un avión nuevo.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - manufacturingDate
                - passengerCapacity
                - airlineId
              properties:
                model:
                  type: string
                  example: Boeing 737
                  description: El nombre del avión.
                manufacturingDate:
                  type: string
                  example: 1965-10-05
                  description: Fecha de inauguración del avión.
                passengerCapacity:
                  type: number
                  format: int32
                  example: 200
                  description: Capacidad máxima de pasajeros.
                maxSpeed:
                  type: number
                  format: float
                  example: 560.0
                  description: Velocidad máxima del avión.
                active:
                  type: boolean
                  example: true
                  description: Nos indica si el avión está en activo o no.
                airlineId:
                  type: number
                  format: int32
                  example: 2
                  description: Id de la aerolínea asociada.
            examples:
              FullData:
                summary: Ejemplo con todos los campos.
                value:
                  model: "Boeing 737"
                  manufacturingDate: "2005-03-10"
                  passengerCapacity: 180
                  maxSpeed: 560.0
                  active: true
                  airlineId: 1

              MinimumData:
                summary: Ejemplo con campos mínimos.
                value:
                  model: "Airbus A320"
                  manufacturingDate: "2010-08-22"
                  passengerCapacity: 150
                  airlineId: 2
      responses:
        '201':
          description: El avión se ha registrado correctamente

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Avión no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #Buscar aviones por modelo, día de fabricación y/o capacidad máxima de pasajeros

  /airplane/findByModel,manufacturingDate and/or passengerCapacity:
    get:
      tags:
        - Aviones
      summary: Devuelve listado de Aviones por filtrado.
      description: Esta operación permite la consulta de todos los aviones mediante un filtrado de 3 campos.
      parameters:
        - name: model
          in: query
          description: Nombre del modelo del avión.
          required: false
          schema:
            type: string
        - name: manufacturingDate
          in: query
          description: Día de fabricación del avión formato -> ( "2010-01-18" ).
          required: false
          schema:
            type: string
            format: date
        - name: passengerCapacity
          in: query
          description: Capacidad máxima de pasajeros.
          required: false
          schema:
            type: integer

      responses:
        '200':
          description: Devuelve el filtrado o la lista completa en su defecto.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    airplane:
                      allOf:
                        - $ref: '#/components/schemas/airplane'
                        - properties:
                            airline:
                              $ref: '#/components/schemas/airline'
              examples:
                example1:
                  summary: Ejemplo de avión 1
                  value:
                    - airplanes:
                        id: 1
                        model: "Boeing 737"
                        manufacturingDate: "2005-03-10"
                        passengerCapacity: 180
                        maxSpeed: 560.0
                        active: true
                        airline:
                          id: 1
                          name: "Iberia"
                          telephone: 636756345
                          foundationYear: "1999-10-25"
                          fleet: 100
                          onTime: 92.3
                          active: true
                example2:
                  summary: Ejemplo de avión 2
                  value:
                    - airplanes:
                        id: 2
                        model: "Airbus A320"
                        manufacturingDate: "2010-08-22"
                        passengerCapacity: 150
                        maxSpeed: 540.0
                        active: true
                        airline:
                          id: 2
                          name: "Air France"
                          telephone: 987654321
                          foundationYear: "1980-07-15"
                          fleet: 80
                          onTime: 88.5
                          active: true
        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  # Busca aviones asociados a una aerolínea

  /airline/{airlineId}/airplanes:
    get:
      tags:
        - Aviones
      summary: Busca aviones asociados a una aerolínea
      description: A partir del Id de una aerolínea se puede encontrar lso aviones asociados.
      parameters:
        - name: airlineId
          in: path
          description: Id de la aerolínea necesario para buscar.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Devuelve una lista de aviones correctamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    airplane:
                      allOf:
                        - $ref: '#/components/schemas/airplane'
                        - properties:
                            airline:
                              $ref: '#/components/schemas/airline'
              examples:
                example1:
                  summary: Ejemplo de avión 1
                  value:
                    - airplanes:
                        id: 1
                        model: "Boeing 737"
                        manufacturingDate: "2005-03-10"
                        passengerCapacity: 180
                        maxSpeed: 560.0
                        active: true
                        airline:
                          id: 1
                          name: "Iberia"
                          telephone: 636756345
                          foundationYear: "1999-10-25"
                          fleet: 100
                          onTime: 92.3
                          active: true
                example2:
                  summary: Ejemplo de avión 2
                  value:
                    - airplanes:
                        id: 2
                        model: "Airbus A320"
                        manufacturingDate: "2010-08-22"
                        passengerCapacity: 150
                        maxSpeed: 540.0
                        active: true
                        airline:
                          id: 2
                          name: "Air France"
                          telephone: 987654321
                          foundationYear: "1980-07-15"
                          fleet: 80
                          onTime: 88.5
                          active: true
        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Aerolínea no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  # Buscar aviones por Id

  /airplane/{airplaneId}:
    get:
      tags:
        - Aviones
      summary: Busca aviones por Id.
      description: A partir de un Id se puede encontrar los datos de un avión.
      parameters:
        - name: airplaneId
          in: path
          description: Id del avión necesario para buscar.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Devuelve un avión correctamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    airplane:
                      allOf:
                        - $ref: '#/components/schemas/airplane'
                        - properties:
                            airline:
                              $ref: '#/components/schemas/airline'
              examples:
                example1:
                  summary: Ejemplo de avión 1
                  value:
                    - airplanes:
                        id: 1
                        model: "Boeing 737"
                        manufacturingDate: "2005-03-10"
                        passengerCapacity: 180
                        maxSpeed: 560.0
                        active: true
                        airline:
                          id: 1
                          name: "Iberia"
                          telephone: 636756345
                          foundationYear: "1999-10-25"
                          fleet: 100
                          onTime: 92.3
                          active: true
                example2:
                  summary: Ejemplo de avión 2
                  value:
                    - airplanes:
                        id: 2
                        model: "Airbus A320"
                        manufacturingDate: "2010-08-22"
                        passengerCapacity: 150
                        maxSpeed: 540.0
                        active: true
                        airline:
                          id: 2
                          name: "Air France"
                          telephone: 987654321
                          foundationYear: "1980-07-15"
                          fleet: 80
                          onTime: 88.5
                          active: true
        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Avión no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'



    # Editar aviones
    put:
      tags:
        - Aviones
      summary: Edita un avión
      description: A partir del Id de un avión se edita el mismo avión añadiendo los campos adecuados.
      parameters:
        - name: airplaneId
          in: path
          description: Id del avión necesario para editar.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - manufacturingDate
                - passengerCapacity
                - airlineId
              properties:
                model:
                  type: string
                  example: Boeing 737
                  description: El nombre del avión.
                manufacturingDate:
                  type: string
                  example: 1965-10-05
                  description: Fecha de inauguración del avión.
                passengerCapacity:
                  type: number
                  format: int32
                  example: 200
                  description: Capacidad máxima de pasajeros.
                maxSpeed:
                  type: number
                  format: float
                  example: 560.0
                  description: Velocidad máxima del avión.
                active:
                  type: boolean
                  example: true
                  description: Nos indica si el avión está en activo o no.
                airlineId:
                  type: number
                  format: int32
                  example: 2
                  description: Id de la aerolínea asociada.
            examples:
              FullData:
                summary: Ejemplo con todos los campos.
                value:
                  model: "Boeing 737"
                  manufacturingDate: "2005-03-10"
                  passengerCapacity: 180
                  maxSpeed: 560.0
                  active: true
                  airlineId: 1
              MinimumData:
                summary: Ejemplo con campos mínimos.
                value:
                  model: "Airbus A320"
                  manufacturingDate: "2010-08-22"
                  passengerCapacity: 150
                  airlineId: 2

      responses:
        '201':
          description: El avión se ha editado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Avión no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
    # Parchear aviones
    patch:
      tags:
        - Aviones
      summary: Edita un campo concreto del avión.
      description: A partir del Id de un avión se edita un campo concreto del mismo avión.
      parameters:
        - name: airplaneId
          in: path
          description: Id del avión necesario para editar.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - field
                - maxSpeed
              properties:
                field:
                  type: string
                  example: "maxSpeed"
                  description: Nombre del campo que se cambia por defecto "maxSpeed".
                maxSpeed:
                  type: number
                  format: float
                  example: 560.0
                  description: Velocidad del avión.
            examples:
              Patch1:
                summary: Ejemplo 1.
                value:
                  field: "maxSpeed"
                  maxSpeed: 560.0
              Patch2:
                summary: Ejemplo 2.
                value:
                  field: "maxSpeed"
                  maxSpeed: 650.5
      responses:
        '201':
          description: El campo del avión se ha editado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Avión no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    #Eliminar aviones

    delete:
      tags:
        - Aviones
      summary: Elimina un avión
      description: A partir del Id de un avión se borra el mismo avión.
      parameters:
        - name: airplaneId
          in: path
          description: Id del avión necesario para borrar.
          required: true
          schema:
            type: integer

      responses:
        '204':
          description: El avión se ha borrado correctamente.

        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #-------------------------------------------------------------

  #Control de aerolíneas
  #Listar aerolíneas

  /airlines:
    get:
      tags:
        - Aerolíneas
      summary: Devuelve listado de todos las aerolíneas.
      description: Esta operación permite la consulta de todas las aerolíneas existentes.
      responses:
        '200':
          description: Devuelve la lista completa de aerolíneas.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/airline'
              examples:
                example1:
                  summary: Ejemplo de aerolínea 1
                  value:
                    - airline:
                        id: 1
                        name: "Iberia"
                        telephone: 636756345
                        foundationYear: "1999-10-25"
                        fleet: 100
                        onTime: 92.3
                        active: true

                example2:
                  summary: Ejemplo de aerolínea 2
                  value:
                    - airline:
                        id: 2
                        name: "Air France"
                        telephone: 987654321
                        foundationYear: "1980-07-15"
                        fleet: 80
                        onTime: 88.5
                        active: true
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    #  Crear aerolínea
    post:
      tags:
        - Aerolíneas
      summary: Crea una nueva aerolínea.
      description: Añadiendo los campos adecuados podemos crear una aerolínea nueva.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - telephone
                - foundationYear
                - fleet
              properties:
                name:
                  type: string
                  example: Iberia
                  description: El nombre de la aerolínea.
                telephone:
                  type: integer
                  example: 636756345
                  description: Teléfono de contacto.
                foundationYear:
                  type: string
                  example: 1999-10-25
                  description: Fecha de inauguración de la aerolínea.
                fleet:
                  type: number
                  format: int32
                  example: 100
                  description: Numero de la flota de la aerolínea.
                onTime:
                  type: number
                  format: float
                  example: 92.3
                  description: Porcentaje de vuelos que salen a tiempo.
                active:
                  type: boolean
                  example: true
                  description: Nos indica si la aerolínea está en activo o no.
            examples:
              FullData:
                summary: Ejemplo con todos los campos.
                value:
                  name: "Iberia"
                  telephone: 636756345
                  foundationYear: "1999-10-25"
                  fleet: 100
                  onTime: 92.3
                  active: true
              MinimumData:
                summary: Ejemplo con campos mínimos.
                value:
                  name: "Lufthansa"
                  telephone: 999333444
                  foundationYear: "1955-04-02"
      responses:
        '201':
          description: La aerolínea se ha registrado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #Buscar aerolíneas por nombre, teléfono y/o flota

  /airline/findByName,telephone and/or fleet:
    get:
      tags:
        - Aerolíneas
      summary: Devuelve listado de aerolíneas por filtrado.
      description: Esta operación permite la consulta de todas las aerolíneas mediante un filtrado de 3 campos.
      parameters:
        - name: name
          in: query
          description: Nombre de la  aerolínea.
          required: false
          schema:
            type: string
        - name: telephone
          in: query
          description: Teléfono de contacto.
          required: false
          schema:
            type: number
            format: int32
        - name: fleet
          in: query
          description: Numero total de la flota.
          required: false
          schema:
            type: integer

      responses:
        '200':
          description: Devuelve el filtrado o la lista completa en su defecto.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/airline'
              examples:
                example1:
                  summary: Ejemplo de aerolínea 1
                  value:
                    - airline:
                        id: 1
                        name: "Iberia"
                        telephone: 636756345
                        foundationYear: "1999-10-25"
                        fleet: 100
                        onTime: 92.3
                        active: true

                example2:
                  summary: Ejemplo de aerolínea 2
                  value:
                    - airline:
                        id: 2
                        name: "Air France"
                        telephone: 987654321
                        foundationYear: "1980-07-15"
                        fleet: 80
                        onTime: 88.5
                        active: true
        '400':
          description: Error de validación en los datos de entrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  # Buscar aerolíneas por Id

  /airline/{airlineId}:
    get:
      tags:
        - Aerolíneas
      summary: Busca aerolíneas por Id.
      description: A partir de una Id se puede encontrar los datos de una aerolínea.
      parameters:
        - name: airlineId
          in: path
          description: Id de la aerolínea necesario para buscar.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Devuelve una aerolínea correctamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/airline'
              examples:
                example1:
                  summary: Ejemplo de aerolínea 1
                  value:
                    - airline:
                        id: 1
                        name: "Iberia"
                        telephone: 636756345
                        foundationYear: "1999-10-25"
                        fleet: 100
                        onTime: 92.3
                        active: true

                example2:
                  summary: Ejemplo de aerolínea 2
                  value:
                    - airline:
                        id: 2
                        name: "Air France"
                        telephone: 987654321
                        foundationYear: "1980-07-15"
                        fleet: 80
                        onTime: 88.5
                        active: true
        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Aerolínea no encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    # Editar aerolíneas
    put:
      tags:
        - Aerolíneas
      summary: Edita una aerolínea.
      description: A partir del id de una aerolínea se edita la misma aerolínea añadiendo los campos adecuados.
      parameters:
        - name: airlineId
          in: path
          description: Id de la aerolínea necesario para editar.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - telephone
                - foundationYear
                - fleet
              properties:
                name:
                  type: string
                  example: Iberia
                  description: El nombre de la aerolínea.
                telephone:
                  type: integer
                  example: 636756345
                  description: Teléfono de contacto.
                foundationYear:
                  type: string
                  example: 1999-10-25
                  description: Fecha de inauguración de la aerolínea.
                fleet:
                  type: number
                  format: int32
                  example: 100
                  description: Numero de la flota de la aerolínea.
                onTime:
                  type: number
                  format: float
                  example: 92.3
                  description: Porcentaje de vuelos que salen a tiempo.
                active:
                  type: boolean
                  example: true
                  description: Nos indica si la aerolínea está en activo o no.
            examples:
              FullData:
                summary: Ejemplo con todos los campos.
                value:
                  name: "Iberia"
                  telephone: 636756345
                  foundationYear: "1999-10-25"
                  fleet: 100
                  onTime: 92.3
                  active: true
              MinimumData:
                summary: Ejemplo con campos mínimos.
                value:
                  name: "Lufthansa"
                  telephone: 999333444
                  foundationYear: "1955-04-02"
      responses:
        '201':
          description: La aerolínea se ha editado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Aerolínea no encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    # Parchear aerolíneas
    patch:
      tags:
        - Aerolíneas
      summary: Edita un campo concreto de una aerolínea.
      description: A partir del Id de una aerolíneas se edita un campo concreto del misma aerolínea.
      parameters:
        - name: airlineId
          in: path
          description: Id de la aerolínea necesario para editar.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - field
                - fleet
              properties:
                field:
                  type: string
                  example: "fleet"
                  description: Nombre del campo que se cambia por defecto "fleet".
                fleet:
                  type: number
                  format: int32
                  example: 120
                  description: Flota de la aerolínea.
            examples:
              Patch1:
                summary: Ejemplo 1.
                value:
                  field: "fleet"
                  fleet: 120
              Patch2:
                summary: Ejemplo 2.
                value:
                  field: "fleet"
                  fleet: 90
      responses:
        '201':
          description: El campo de la aerolínea se ha editado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Aerolínea no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    #Eliminar aerolíneas

    delete:
      tags:
        - Aerolíneas
      summary: Elimina una aerolínea.
      description: A partir del Id de una aerolínea se borra la misma aerolínea.
      parameters:
        - name: airlineId
          in: path
          description: Id de la aerolínea necesario para borrar.
          required: true
          schema:
            type: integer

      responses:
        '204':
          description: La aerolínea se ha borrado correctamente.

        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #---------------------------------------------------------------

  #Control de tiendas de aeropuerto
  #Listar tiendas

  /airportStore:
    get:
      tags:
        - Tiendas de aeropuerto
      summary: Devuelve listado de todas las tiendas.
      description: Esta operación permite la consulta de todas las tiendas existentes.
      responses:
        '200':
          description: Devuelve la lista completa de tiendas.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    airportStore:
                      allOf:
                        - $ref: '#/components/schemas/airportStore'
                        - properties:
                            airport:
                              $ref: '#/components/schemas/airport'
              examples:
                example1:
                  summary: Ejemplo de tienda 1
                  value:
                    - airportStore:
                        id: 1
                        name: "Bar Pepe"
                        type: "Restaurante"
                        telephone: 973554603
                        openingDay: "2005-12-10"
                        averageProfit: 85.2
                        open: true
                        airport:
                          id: 23
                          name: "Aeropuerto de Zaragoza."
                          city: "Zaragoza"
                          foundationYear: "1965-10-05"
                          latitude: 41.6669
                          longitude: -1.0413
                          active: true
                example2:
                  summary: Ejemplo de tienda 2
                  value:
                    - airportStore:
                        id: 2
                        name: "Tienda Express"
                        type: "Kiosco"
                        telephone: 123456789
                        openingDay: "2010-05-22"
                        averageProfit: 70.0
                        open: false
                        airport:
                          id: 24
                          name: "Aeropuerto de Barcelona."
                          city: "Barcelona"
                          foundationYear: "1970-05-15"
                          latitude: 41.2974
                          longitude: 2.0833
                          active: true
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    #  Crear tienda
    post:
      tags:
        - Tiendas de aeropuerto
      summary: Crea una nueva tienda.
      description: Añadiendo los campos adecuados podemos crear una tienda nueva.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
                - averageProfit
                - open
                - airportId
              properties:
                name:
                  type: string
                  example: BarPepe
                  description: El nombre de la tienda.
                type:
                  type: string
                  example: Repostería
                  description: El tipo comercio que és.
                telephone:
                  type: integer
                  example: 973554603
                  description: Teléfono de contacto.
                openingDay:
                  type: string
                  example: 1999-10-25
                  description: Fecha de inauguración de la tienda.
                averageProfit:
                  type: number
                  format: float
                  example: 80.4
                  description: Porcentaje de la media de beneficios de la tienda.
                open:
                  type: boolean
                  example: true
                  description: Nos indica si la tienda está en activo o no.
                airportId:
                  type: number
                  format: int32
                  example: 2
                  description: Id del aeropuerto asociado.
            examples:
              FullData:
                summary: Ejemplo con todos los campos.
                value:
                  name: "Bar Pepe"
                  type: "Restaurante"
                  telephone: 973554603
                  openingDay: "2005-12-10"
                  averageProfit: 85.2
                  open: true
                  airportId: 23
              MinimumData:
                summary: Ejemplo con campos mínimos.
                value:
                  name: "Tienda Express"
                  type: "Kiosco"
                  telephone: 123456789
                  airportId: 2
      responses:
        '201':
          description: La tienda se ha registrado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #Buscar tiendas por nombre, tipo y/o beneficio

  /airportStore/findByName,type and/or averageProfit:
    get:
      tags:
        - Tiendas de aeropuerto
      summary: Devuelve listado de tiendas por filtrado.
      description: Esta operación permite la consulta de todas las tiendas mediante un filtrado de 3 campos.
      parameters:
        - name: name
          in: query
          description: Nombre de la tienda.
          required: false
          schema:
            type: string
        - name: type
          in: query
          description: Tipo del comercio.
          required: false
          schema:
            type: string
        - name: fleet
          in: query
          description: Porcentaje de la media de beneficios de la tienda.
          required: false
          schema:
            type: float

      responses:
        '200':
          description: Devuelve el filtrado o la lista completa en su defecto.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    airportStore:
                      allOf:
                        - $ref: '#/components/schemas/airportStore'
                        - properties:
                            airport:
                              $ref: '#/components/schemas/airport'
              examples:
                example1:
                  summary: Ejemplo de tienda 1
                  value:
                    - airportStore:
                        id: 1
                        name: "Bar Pepe"
                        type: "Restaurante"
                        telephone: 973554603
                        openingDay: "2005-12-10"
                        averageProfit: 85.2
                        open: true
                        airport:
                          id: 23
                          name: "Aeropuerto de Zaragoza."
                          city: "Zaragoza"
                          foundationYear: "1965-10-05"
                          latitude: 41.6669
                          longitude: -1.0413
                          active: true
                example2:
                  summary: Ejemplo de tienda 2
                  value:
                    - airportStore:
                        id: 2
                        name: "Tienda Express"
                        type: "Kiosco"
                        telephone: 123456789
                        openingDay: "2010-05-22"
                        averageProfit: 70.0
                        open: false
                        airport:
                          id: 24
                          name: "Aeropuerto de Barcelona."
                          city: "Barcelona"
                          foundationYear: "1970-05-15"
                          latitude: 41.2974
                          longitude: 2.0833
                          active: true
        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  # Busca tiendas asociadas a un aeropuerto

  /airport/{airportId}/airportStore:
    get:
      tags:
        - Tiendas de aeropuerto
      summary: Busca tiendas asociados a un aeropuerto
      description: A partir del Id de una aeropuerto se puede encontrar las tiendas asociadas.
      parameters:
        - name: airportId
          in: path
          description: Id del aeropuerto necesario para buscar.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Devuelve una lista de tiendas correctamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    airportStore:
                      allOf:
                        - $ref: '#/components/schemas/airportStore'
                        - properties:
                            airport:
                              $ref: '#/components/schemas/airport'
              examples:
                example1:
                  summary: Ejemplo de tienda 1
                  value:
                    - airportStore:
                        id: 1
                        name: "Bar Pepe"
                        type: "Restaurante"
                        telephone: 973554603
                        openingDay: "2005-12-10"
                        averageProfit: 85.2
                        open: true
                        airport:
                          id: 23
                          name: "Aeropuerto de Zaragoza."
                          city: "Zaragoza"
                          foundationYear: "1965-10-05"
                          latitude: 41.6669
                          longitude: -1.0413
                          active: true
                example2:
                  summary: Ejemplo de tienda 2
                  value:
                    - airportStore:
                        id: 2
                        name: "Tienda Express"
                        type: "Kiosco"
                        telephone: 123456789
                        openingDay: "2010-05-22"
                        averageProfit: 70.0
                        open: false
                        airport:
                          id: 24
                          name: "Aeropuerto de Barcelona."
                          city: "Barcelona"
                          foundationYear: "1970-05-15"
                          latitude: 41.2974
                          longitude: 2.0833
                          active: true
        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Aeropuerto no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  # Buscar tiendas por Id

  /airportStore/{airportStoreId}:
    get:
      tags:
        - Tiendas de aeropuerto
      summary: Busca tiendas por Id.
      description: A partir de un Id se puede encontrar los datos de una tienda.
      parameters:
        - name: airportStoreId
          in: path
          description: Id de la tienda necesario para buscar.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Devuelve una tienda correctamente.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    airportStore:
                      allOf:
                        - $ref: '#/components/schemas/airportStore'
                        - properties:
                            airport:
                              $ref: '#/components/schemas/airport'
              examples:
                example1:
                  summary: Ejemplo de tienda 1
                  value:
                    - airportStore:
                        id: 1
                        name: "Bar Pepe"
                        type: "Restaurante"
                        telephone: 973554603
                        openingDay: "2005-12-10"
                        averageProfit: 85.2
                        open: true
                        airport:
                          id: 23
                          name: "Aeropuerto de Zaragoza."
                          city: "Zaragoza"
                          foundationYear: "1965-10-05"
                          latitude: 41.6669
                          longitude: -1.0413
                          active: true
                example2:
                  summary: Ejemplo de tienda 2
                  value:
                    - airportStore:
                        id: 2
                        name: "Tienda Express"
                        type: "Kiosco"
                        telephone: 123456789
                        openingDay: "2010-05-22"
                        averageProfit: 70.0
                        open: false
                        airport:
                          id: 24
                          name: "Aeropuerto de Barcelona."
                          city: "Barcelona"
                          foundationYear: "1970-05-15"
                          latitude: 41.2974
                          longitude: 2.0833
                          active: true
        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Tienda no encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    # Editar tiendas
    put:
      tags:
        - Tiendas de aeropuerto
      summary: Edita una tienda
      description: A partir del Id de una tienda se edita la misma tienda añadiendo los campos adecuados.
      parameters:
        - name: airportStoreId
          in: path
          description: Id de la tienda necesario para editar.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
                - averageProfit
                - open
                - airportId
              properties:
                name:
                  type: string
                  example: BarPepe
                  description: El nombre de la tienda.
                type:
                  type: string
                  example: Repostería
                  description: El tipo comercio que és.
                telephone:
                  type: integer
                  example: 973554603
                  description: Teléfono de contacto.
                openingDay:
                  type: string
                  example: 1999-10-25
                  description: Fecha de inauguración de la tienda.
                averageProfit:
                  type: number
                  format: float
                  example: 80.4
                  description: Porcentaje de la media de beneficios de la tienda.
                open:
                  type: boolean
                  example: true
                  description: Nos indica si la tienda está en activo o no.
                airportId:
                  type: number
                  format: int32
                  example: 2
                  description: Id del aeropuerto asociado.

            examples:
              FullData:
                summary: Ejemplo con todos los campos.
                value:
                  name: "Bar Pepe"
                  type: "Restaurante"
                  telephone: 973554603
                  openingDay: "2005-12-10"
                  averageProfit: 85.2
                  open: true
                  airportId: 23
              MinimumData:
                summary: Ejemplo con campos mínimos.
                value:
                  name: "Tienda Express"
                  type: "Kiosco"
                  telephone: 123456789
                  airportId: 2
      responses:
        '201':
          description: La tienda se ha editado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Tienda no encontrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    # Parchear tiendas de aeropuerto
    patch:
      tags:
        - Tiendas de aeropuerto
      summary: Edita un campo concreto de una tienda.
      description: A partir del Id de una tienda se edita un campo concreto del misma tienda.
      parameters:
        - name: airportStoreId
          in: path
          description: Id de la tienda necesario para editar.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - field
                - type
              properties:
                field:
                  type: string
                  example: "type"
                  description: Nombre del campo que se cambia por defecto "type".
                type:
                  type: string
                  example: "Consumibles"
                  description: Tipo de tienda.
            examples:
              Patch1:
                summary: Ejemplo 1.
                value:
                  field: "type"
                  type: "Consumibles"
              Patch2:
                summary: Ejemplo 2.
                value:
                  field: "type"
                  type: "Hostelería"
      responses:
        '201':
          description: El campo de la tienda se ha editado correctamente.

        '400':
          description: Error de validación en los datos de entrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        '404':
          description: Tienda no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    #Eliminar tiendas

    delete:
      tags:
        - Tiendas de aeropuerto
      summary: Elimina una tienda.
      description: A partir del Id de una tienda se borra la misma tienda.
      parameters:
        - name: airportStoreId
          in: path
          description: Id de la tienda necesario para borrar.
          required: true
          schema:
            type: integer

      responses:
        '204':
          description: La tienda se ha borrado correctamente.

        '400':
          description: Error al validar Id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'



components:
  schemas:
    # Schemas Flight
    flight:
      type: object
      properties:
        id:
          type: number
          example: 23
          format: int32
        name:
          type: string
          example: Zaragoza/Menorca
          description: El nombre del vuelo salida/destino.
        departureDate:
          type: string
          example: 2020-01-01
          description: Fecha se salida del vuelo.
        gate:
          type: number
          format: int32
          example: 5
          description: Numero de la puerta de embarque.
        duration:
          type: number
          format: float
          example: 5.5
          description: Tiempo de vuelo en horas.
        departure:
          type: boolean
          example: false
          description: Nos dice si despega o aterriza el vuelo.
        airportId:
          type: :number
          format: int32
          example: 2
          description: Id del aeropuerto asociado.


    # Schemas airport
    airport:
      type: object
      properties:
        id:
          type: number
          example: 23
          format: int32
        name:
          type: string
          example: Aeropuerto de Zaragoza.
          description: El nombre del aeropuerto.
        city:
          type: string
          example: Zaragoza
          description: El nombre de la Ciudad del aeropuerto.
        foundationYear:
          type: string
          example: 1965-10-05
          description: Fecha de inauguración del aeropuerto.
        latitude:
          type: number
          format: float
          example: 41.6669
          description: Latitud de la ubicación del aeropuerto.
        longitude:
          type: number
          format: float
          example: -1.0413
          description: Longitud de la ubicación del aeropuerto.
        active:
          type: boolean
          example: true
          description: Nos indica si el aeropuerto está en activo o no.

    # Schemas airplane
    airplane:
      type: object
      properties:
        id:
          type: number
          example: 23
          format: int32
        model:
          type: string
          example: Boeing 737
          description: El nombre del avión.
        manufacturingDate:
          type: string
          example: 1965-10-05
          description: Fecha de inauguración del avión.
        passengerCapacity:
          type: number
          format: int32
          example: 200
          description: Capacidad máxima de pasajeros.
        maxSpeed:
          type: number
          format: float
          example: 560.0
          description: Velocidad máxima del avión.
        active:
          type: boolean
          example: true
          description: Nos indica si el avión está en activo o no.
        airlineId:
          type: :number
          format: int32
          example: 2
          description: Id de la aerolínea asociada.


    # Schemas airline
    airline:
      type: object
      properties:
        id:
          type: number
          example: 23
          format: int32
        name:
          type: string
          example: Iberia
          description: El nombre de la aerolínea.
        telephone:
          type: integer
          example: 636756345
          description: Teléfono de contacto.
        foundationYear:
          type: string
          example: 1999-10-25
          description: Fecha de inauguración de la aerolínea.
        fleet:
          type: number
          format: int32
          example: 100
          description: Numero de la flota de la aerolínea.
        onTime:
          type: number
          format: float
          example: 92.3
          description: Porcentaje de vuelos que salen a tiempo.
        active:
          type: boolean
          example: true
          description: Nos indica si la aerolínea está en activo o no.

    # Schemas airportStore
    airportStore:
      type: object
      properties:
        id:
          type: number
          example: 23
          format: int32
        name:
          type: string
          example: BarPepe
          description: El nombre de la tienda.
        type:
          type: string
          example: Repostería
          description: El tipo comercio que és.
        telephone:
          type: integer
          example: 973554603
          description: Teléfono de contacto.
        openingDay:
          type: string
          example: 1999-10-25
          description: Fecha de inauguración de la tienda.
        averageProfit:
          type: number
          format: float
          example: 80.4
          description: Porcentaje de la media de beneficios de la tienda.
        open:
          type: boolean
          example: true
          description: Nos indica si la tienda está en activo o no.
        airportId:
          type: :number
          format: int32
          example: 2
          description: Id del aeropuerto asociado.



    #    Errores
    ErrorResponse:
      type: object
      properties:
        code:
          type: number
          format: int32
        message:
          type: string
        errors:
          type: array
          items:
            type: string
    BadRequest:
      type: object
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      example:
        code: 400
        message: Problema en la solicitud.
        errors: Bad Request
    NotFound:
      type: object
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      example:
        code: 404
        message: El recurso solicitado no se puede encontrar.
        errors: Not Found
    InternalServerError:
      type: object
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
      example:
        code: 500
        message: Error interno del servidor
        error: Internal Server Error
